@use "../common"

#albums
    list-style: none
    padding:
        left: 40px
        right: 40px

#thumbnail, .thumbnail
    svg.default-album-thumbnail
        width: 50%
        height: 50%
        margin: 25%

$scale: 4.5
audio
    @include common.block-center
    width: common.$item-thumbnail-size * $scale * 1.5

#thumbnail
    @include common.min-size($size: common.$item-thumbnail-size * $scale)
    @include common.block-center
    border-radius: common.$border-radius * $scale / 2
    margin-bottom: 6px

#name, #artists
    width: fit-content
    margin: 0
    @include common.block-center

#remixes
    margin: 0
    display: inline-block

#more
    width: fit-content
    margin: 0
    margin-top: 6px
    @include common.block-center
    display: flex
    gap: 6px
    // Flex Separator
    > *:not(:first-child)::before
        content: ''
        width: 2px
        height: 1em
        margin-right: 6px
        display: inline-block
        position: relative
        top: 2px
        background-color: hsl(0, 0%, 40%)
